.card-room-img {
    max-height: 200px !important;
    height: 200px !important;
    object-fit: cover;
}

.err_form {
    color: red !important;
}

.btn-action a {
    color: white !important;
}

.tox-promotion {
    display: none !important;

}


.btn-success {
    background-color: #4a8929 !important;
    border-color: #448323 !important;
}

.btn-action {
    width: 100%;
    margin-bottom: 5px;

}